*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calculator{
  height: 450px;
  width: 300px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 10px black;
  }
  
  .int{
    height: 50px;
    width:  50px;
    color: red;
    
    
  }
  .screen{
    height: 100px;
    width: 100px;
    background: none;
    border: none;
    
  }
  .el{
    height: 50px;
    width: 50px;
    color: blue;
    
  }
  .pl{
    height: 50px;
    width: 50px;
    color: green;
  }