*{
  padding: 0px;
  margin: 0px;
  
}
body{
  background: url(hello.jpg);
  height: 630px;
width: 350px;
background-repeat: repeat-x;

background-position: center;
background-size: cover;
position: relative;
}


.back{
  height: 1000px;
  width: 500px;
}


.ul{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  
}
.nav{
  
  text-align: right;
}
.nav ul li{
  display: inline-block;
  position: relative;
  
}
.nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.nav ul li ::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #1298C8;
  display: block;
  margin: auto;
  transform: 0.5s;
  
}
.nav ul li:hover::after{
  width: 100%;
  
}
.text{
  width: 90%;
top: 15%;
left: 70%;
  position: absolute;
  transform: translate(-50%,-50%);
}
.para{
  width: 100%;
  top: 28%;
  left: 60%;
  position: absolute;
  transform: translate(-50%,-50%);
  font-size: 25px;
  
}
.and{
  text-align: center;
  top:27%;
  left: 50%;
}
.mus-logo{
  height: 100px;
  top: 100%;
  left: 1%;
  position: absolute;
  text-decoration: none;
}

.musica{
  text-decoration: none;
  position: absolute;
  top: 150%;
  display: inline-block;
  font-size: 30px;
  left: 30%;
  
}
.musicb{
  position: absolute;
  top: 150%;
  display: inline-block;
  
  left: 60%;
  
}
.footer{
  position: absolute;
  top: 550%;
  list-style: none;
  
  
}
.footer ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
  
}
.foot{
  list-style: none;
text-decoration: none;
}
.img-foot{
  position: absolute;
  top: 630px;
  background-repeat: repeat-x;




  
}